@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.left{
  padding: 0 10px 0 10px ;
}

.link{
  font-family: 'Roboto', sans-serif;
  color: #22222b;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0 10px 0 0 ;
}
.link:hover{
    font-weight: bold;
    text-decoration: underline;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
.name{
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
}

@font-face {
  font-family: "arial";
  src: url("../fonts/arial.eot");
  src: local("☺"), url("../fonts/arial.woff") format("woff"), url("../fonts/arial.ttf") format("truetype"), url("../fonts/arial.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.header{
  height: 100%;
  background: url("../img/uchack_bg.png") 0 0 / cover no-repeat;
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__header{
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  &__menu{
    padding: 20px 0 0 0;
  }
  &__logo{
    font-family: 'Montserrat',sans-serif;
    font-size: 2rem;
    letter-spacing: 0.125rem;
    text-shadow: 2px 1px 2px black;
  }
  &__name{
    margin: 380px 0 0 0;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    & span{
      font-size: 3rem;
      font-weight: bold;
      align-self: center;
    }
  }
  &__icon{
    margin: 350px 0 0 0;
    display: flex;
    justify-content: center;
    position: relative;
    .header__icon__point{
      position: absolute;
      top: 15px;
      left: 49.7%;
    }
  }
}


.Aim{
  flex: 0 0 auto;
   margin: 50px 0 0 0;
  &_content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }
  &__logo{
    margin: 0 auto;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #4E4F4A;
  }

  &__purposes{
    margin: 50px 0 0 0;
    display: flex;
  }
}
.Purpose__item{
  flex: 0 1 33.333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__imgCircle{
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.item__img{
  max-width: 100%;
  position: absolute;
  top: 30px;
  left: 25px;
}
.item__text{
  text-align: center;
  font-size: 1.2rem;
  color: #9B918E;
  letter-spacing: 0.7px;
  line-height: 1.9rem;
}
.item__Logo{
      color: #4E4F4A;
  padding: 15px 0 15px 0;
}
.OurPartners{
  text-align: center;
  margin: 180px 0  0  0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bem__bg2.jpg") 0 0 / cover no-repeat;
  & .OurPartners__content{
    display: flex;
    flex-direction: column;

    & .OurPartners__title{
      padding: 100px 0;
      color: #fff;
      font-size: 40px;
      letter-spacing: 1.5px;
    }
    nav{
      margin: 0 0 135px 0;
      & a{
        color: #fff;
        text-transform: capitalize;
        padding: 0 18px 0 18px;
        font-size: 28px;
      }
    }
  }
}
.Motivation{
  flex: 1 0 auto;
  margin: 100px 0 50px 0;
  &__LOGO{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #4E4F4A;
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__Line{
    margin: 50px 0 0 0;
    display: flex;
  }
  &_motivflex{
   flex: 0 1 50%;
  }
  &__img img{
    float: left;
    height: 100px;
    width: 150px;
    margin: 0 10px 0 0 ;
  }
  &__motiv1{
    line-height: 1.5rem;
  }
}
.footer{
  flex: 0 0 auto;
  background-color: silver;
  display: flex;
  align-items: center;
  padding: 45px 0;
  & .footer__text{
    font-family: 'Roboto',sans-serif;
    color: #fff;
    font-size: 1.5rem;
  }
}
@media(max-width:1180px){
  .container{
    max-width: 1010px;
  }
}
@media(max-width:1000px){
  .container{
    max-width: 910px;
  }
}
@media(max-width:767px){
  .container{
    max-width: 700px;
  }
  *{
    font-size: 15px;
  }
}

@media(max-width:600px){
 .container{
   max-width: 500px;
 }
 *{
   font-size: 14px;
 }
}
@media(max-width:500px){
 .container{
   max-width: none;
 }
 .Aim__purposes{
   flex-wrap: wrap;
   align-items: center;
 }
 .Purpose__item{
   flex: 0 1 50%;
 }
}
@media(max-width:360px){
 *{
   font-size: 11px;
 }
 .header__header{
   flex-wrap: wrap;
 }
}
